
<form id="addproviderusers" class="form-horizontal" th:object="${oauthUser}"  th:action="@{'/userprovider/submitprovideruser'}">

<div th:if="${msg != null}" class="alert alert-success alert-dismissible" >
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <span th:text="${msg}"></span>
</div>

<div class="row">
<div class="text-right">
  	<button type="button" onclick="submitclient('addprovider')" class="btn btn-primary">Save</button>
	<a th:href="@{'/provider/providerlist'}" class="btn btn-primary" role="button">Cancel</a>
</div>
</div>


 <div class="row">
 	<div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
            <label for="username">Username</label>
  				<div th:classappend="${#fields.hasErrors('username')} ? 'input-icon right has-error' : ''">
                        <input type="text" class="form-control" id="username" placeholder="Client Id" th:field="*{username}" />
				   <span th:if="${#fields.hasErrors('username')}" class="help-block" th:errors="*{username}"></span>
			</div>
                    
 
        </div>
        
        
        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
            <label for="password">Password</label>
  <div th:classappend="${#fields.hasErrors('password')} ? 'input-icon right has-error' : ''">
                        <input type="text" class="form-control" id="password" placeholder="Password" th:field="*{password}" />
				   <span th:if="${#fields.hasErrors('password')}" class="help-block" th:errors="*{password}"></span>
					</div>
                    
 
        </div>
        
        <div class="form-group col-xs-10 col-sm-6 col-md-6 col-lg-6">
    	 <label for="active">Enabled</label>
		     
			
			<select class="form-control" th:field="*{active}">
		   	  <option th:value="1" data-th-field="*{active}" th:selected="${active==1}">true</option>
		   	  <option th:value="0" data-th-field="*{active}" th:selected="${active	==0}">false</option>
			</select>
	
        </div>
        </div>
        
        
        
 </div>
 





<div class="row">
<div class="text-right">
  	<button type="button" onclick="submitclient('addprovider')" class="btn btn-primary">Save</button>
	<a th:href="@{'/provider/providerlist'}" class="btn btn-primary" role="button">Cancel</a>

</div>
</div>
	





</form>