
		<!------ Include the above in your HEAD tag ---------->
		<div class="container well">
			<form class="form-horizontal">
				<fieldset>

					<!-- Form Name -->
					<legend>İnsan Kaynakları Formu</legend>

					<!-- Text input-->
					<div class="form-group ">
						<label class="col-md-4 control-label" for="fullname">Adınız Soyadınız</label>  
						<div class="col-md-4">
							<input id="fullname" name="fullname" type="text" placeholder="Adınız Soyadınız" class="form-control input-md" required="">

						</div>

						<label class="col-md-4 control" for="sex">Cinsiyetiniz</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" checked="checked">
								Erkek
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2">
								Kadın
							</label> 
							<label class="radio-inline" for="sex-2">
								<input type="radio" name="sex" id="sex-2" value="3">
								Diğer
							</label>


						</div>


					</div>



					<div class="form-group">
						<label class="col-md-4 control-label" for="birthplace">Doğum Yeri</label>
						<div class="col-md-4">
							<select id="birthplace" name="birthplace" class="form-control">
								<option value="1">Adana</option>
								<option value="2">Adıyaman</option>
								<option value="3">Afyonkarahisar</option>
								<option value="4">Ağrı</option>
								<option value="5">Amasya</option>
								<option value="6">Ankara</option>
								<option value="7">Antalya</option>
								<option value="8">Artvin</option>
								<option value="9">Aydın</option>
								<option value="10">Balıkesir</option>
								<option value="11">Bilecik</option>
								<option value="12">Bingöl</option>
								<option value="13">Bitlis</option>
								<option value="14">Bolu</option>
								<option value="15">Burdur</option>
								<option value="16">Bursa</option>
								<option value="17">Çanakkale</option>
								<option value="18">Çankırı</option>
								<option value="19">Çorum</option>
								<option value="20">Denizli</option>
								<option value="21">Diyarbakır</option>
								<option value="22">Edirne</option>
								<option value="23">Elazığ</option>
								<option value="24">Erzincan</option>
								<option value="25">Erzurum</option>
								<option value="26">Eskişehir</option>
								<option value="27">Gaziantep</option>
								<option value="28">Giresun</option>
								<option value="29">Gümüşhane</option>
								<option value="30">Hakkâri</option>
								<option value="31">Hatay</option>
								<option value="32">Isparta</option>
								<option value="33">Mersin</option>
								<option value="34">İstanbul</option>
								<option value="35">İzmir</option>
								<option value="36">Kars</option>
								<option value="37">Kastamonu</option>
								<option value="38">Kayseri</option>
								<option value="39">Kırklareli</option>
								<option value="40">Kırşehir</option>
								<option value="41">Kocaeli</option>
								<option value="42">Konya</option>
								<option value="43">Kütahya</option>
								<option value="44">Malatya</option>
								<option value="45">Manisa</option>
								<option value="46">Kahramanmaraş</option>
								<option value="47">Mardin</option>
								<option value="48">Muğla</option>
								<option value="49">Muş</option>
								<option value="50">Nevşehir</option>
								<option value="51">Niğde</option>
								<option value="52">Ordu</option>
								<option value="53">Rize</option>
								<option value="54">Sakarya</option>
								<option value="55">Samsun</option>
								<option value="56">Siirt</option>
								<option value="57">Sinop</option>
								<option value="58">Sivas</option>
								<option value="59">Tekirdağ</option>
								<option value="60">Tokat</option>
								<option value="61">Trabzon</option>
								<option value="62">Tunceli</option>
								<option value="63">Şanlıurfa</option>
								<option value="64">Uşak</option>
								<option value="65">Van</option>
								<option value="66">Yozgat</option>
								<option value="67">Zonguldak</option>
								<option value="68">Aksaray</option>
								<option value="69">Bayburt</option>
								<option value="70">Karaman</option>
								<option value="71">Kırıkkale</option>
								<option value="72">Batman</option>
								<option value="73">Şırnak</option>
								<option value="74">Bartın</option>
								<option value="75">Ardahan</option>
								<option value="76">Iğdır</option>
								<option value="77">Yalova</option>
								<option value="78">Karabük</option>
								<option value="79">Kilis</option>
								<option value="80">Osmaniye</option>
								<option value="81">Düzce</option>
							</select>
						</div>












						<label class="col-md-4 control-" for="maritalstatus">Medeni Haliniz</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="maritalstatus-0">
								<input type="radio" name="maritalstatus" id="maritalstatus-0" value="1" checked="checked">
								Evli
							</label> 
							<label class="radio-inline" for="maritalstatus-1">
								<input type="radio" name="maritalstatus" id="maritalstatus-1" value="2">
								Bekar
							</label> 
							<label class="radio-inline" for="maritalstatus-2">
								<input type="radio" name="maritalstatus" id="maritalstatus-2" value="3">
								Dul
							</label> 
							<label class="radio-inline" for="maritalstatus-3">
								<input type="radio" name="maritalstatus" id="maritalstatus-3" value="4">
								Ayrı Yaşıyor
							</label> 

						</div>

					</div>



					<!-- Select Basic -->

					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="birthyear">Doğum Yılı</label>
						<div class="col-md-4">
							<select id="birthyear" name="birthyear" class="form-control">
								<option value="2016">2016</option>
								<option value="2015">2015</option>
								<option value="2014">2014</option>
								<option value="2013">2013</option>
								<option value="2012">2012</option>
								<option value="2011">2011</option>
								<option value="2010">2010</option>
								<option value="2009">2009</option>
								<option value="2008">2008</option>
								<option value="2007">2007</option>
								<option value="2006">2006</option>
								<option value="2005">2005</option>
								<option value="2004">2004</option>
								<option value="2003">2003</option>
								<option value="2002">2002</option>
								<option value="2001">2001</option>
								<option value="2000">2000</option>
								<option value="1999">1999</option>
								<option value="1998">1998</option>
								<option value="1997">1997</option>
								<option value="1996">1996</option>
								<option value="1995">1995</option>
								<option value="1994">1994</option>
								<option value="1993">1993</option>
								<option value="1992">1992</option>
								<option value="1991">1991</option>
								<option value="1990">1990</option>
								<option value="1989">1989</option>
								<option value="1988">1988</option>
								<option value="1987">1987</option>
								<option value="1986">1986</option>
								<option value="1985">1985</option>
								<option value="1984">1984</option>
								<option value="1983">1983</option>
								<option value="1982">1982</option>
								<option value="1981">1981</option>
								<option value="1980">1980</option>
								<option value="1979">1979</option>
								<option value="1978">1978</option>
								<option value="1977">1977</option>
								<option value="1976">1976</option>
								<option value="1975">1975</option>
								<option value="1974">1974</option>
								<option value="1973">1973</option>
								<option value="1972">1972</option>
								<option value="1971">1971</option>
								<option value="1970">1970</option>
								<option value="1969">1969</option>
								<option value="1968">1968</option>
								<option value="1967">1967</option>
								<option value="1966">1966</option>
								<option value="1965">1965</option>
								<option value="1964">1964</option>
								<option value="1963">1963</option>
								<option value="1962">1962</option>
								<option value="1961">1961</option>
								<option value="1960">1960</option>
								<option value="1959">1959</option>
								<option value="1958">1958</option>
								<option value="1957">1957</option>
								<option value="1956">1956</option>
								<option value="1955">1955</option>
								<option value="1954">1954</option>
								<option value="1953">1953</option>
								<option value="1952">1952</option>
								<option value="1951">1951</option>
								<option value="1950">1950</option>
							</select>
						</div>

						<label class="col-md-4 control" for="sex">Sağlık Sorununuz Var mı ?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							

							
						</div>

					</div>

					<!-- Multiple Radios (inline) -->


					<!-- Multiple Radios (inline) -->


					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="phone">Telefonunuz</label>  
						<div class="col-md-4">
							<input id="phone" name="phone" type="text" placeholder="Telefonunuz" class="form-control input-md" required="">

						</div>
						<label class="col-md-4 control" for="sex">Seyahate engel durumunuz var mı ?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							

							
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="eposta">E-Posta Adresiniz</label>  
						<div class="col-md-4">
							<input id="eposta" name="eposta" type="text" placeholder="E-Posta Adresiniz" class="form-control input-md" required="">

						</div>
						<label class="col-md-4 control" for="sex">Sigara veya Alkol Kullanıyormusunuz ?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Sigara kullanıyorum.
							</label> 
							

							
						</div>
					</div>

					<!-- Textarea -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="adress">Adresiniz</label>
						<div class="col-md-4">                     
							<textarea class="form-control" id="adress" name="adress">Adresiniz</textarea>
						</div>
						<label class="col-md-4 control" for="sex">Adli Sicil Kaydınız var mı?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							
							

							
						</div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="soldierstatus">Askerlik Durumunuz</label>
						<div class="col-md-4">
							<select id="soldierstatus" name="soldierstatus" class="form-control">
								<option value="1">Yaptı</option>
								<option value="2">Yapmadı</option>
								<option value="">Tecilli</option>
								<option value="">Muaf</option>
							</select>
						</div>
						<label class="col-md-4 control" for="sex">Mecburi Hizmet Borcunuz Var mı ?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							
							

							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="soldierstatus">Ehliyetiniz Varmı?</label>
						<div class="col-md-4">
							<select id="soldierstatus" name="soldierstatus" class="form-control">
								<option value="1">Yok</option>
								<option value="2">B Sınıfı</option>
								<option value="">C Sınıfı</option>
								<option value="">D sınıfı</option>
							</select>
						</div>
						<label class="col-md-4 control" for="sex">Görev Gereği İkamet Değiştirebilir misiniz?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							
							

							
						</div>


					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="phone">TC Kimlik No</label>  
						<div class="col-md-4">
							<input id="phone" name="phone" type="text" placeholder="TC kimlik numaranızı giriniz." class="form-control input-md" required="">
							<span class="help-block">Zorunlu Alan</span>  
						</div>

						<label class="col-md-4 control" for="sex">Görev Gereği Fazla Mesai Yapabilir misiniz? </label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							
							

							
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="soldierstatus">Kan Grubunuz</label>
						<div class="col-md-4">
							<select id="soldierstatus" name="soldierstatus" class="form-control">
								<option value="1">A rh +</option>
								<option value="2">A rh -</option>
								<option value="3">0 Rh +</option>
								<option value="4">0 Rh -</option>
								<option value="5">AB rh +</option>
								<option value="6">AB rh -</option>
							</select>
						</div>
						<label class="col-md-4 control" for="sex">Görev Gereği Vardiyalı çalışabilir misiniz?</label>
						<div class="col-md-4"> 
							<label class="radio-inline" for="sex-0">
								<input type="radio" name="sex" id="sex-0" value="1" >
								Evet
							</label> 
							<label class="radio-inline" for="sex-1">
								<input type="radio" name="sex" id="sex-1" value="2" checked="checked">
								Hayır
							</label> 
							
							

							
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="soldierstatus">Yabancı Dil</label>
						<div class="col-md-4">
							<select id="soldierstatus" name="soldierstatus" class="form-control">
								<option value="1">İngilizce (Başlangıç)</option>
								<option value="2">İngilizce ( Orta )</option>
								<option value="3">İngilizce (Profesyonel)</option>

								
							</select>
						</div>
					</div>


					<div class="form-group">
						<label class="col-md-4 control-label" for="soldierstatus">Bilgisayar Kullanımı</label>
						<div class="col-md-4">
							<select id="soldierstatus" name="soldierstatus" class="form-control">
								<option value="1">Bilmiyorum</option>
								<option value="2">Standart Office Bilgisi</option>
								<option value="3">Diğer (Profesyonel) </option>

								
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="eposta">Bu İşle İlgili Kullandığınız Araç ve Cihazlar</label>  
						<div class="col-md-4">
							<input id="eposta" name="eposta" type="text" placeholder="Aralarında boşluk bırakarak yazınız." class="form-control input-md" required="">

						</div>
					</div >



					<h4>Eğitim Bilgileriniz</h4>
					<table class="table table-bordered table-hover table-condensed">
                        <!--
                        hover: hangi satıra gelirsen o satırı seçer
                        bordered:tablonun her satırını farklı renk yapar
                        condensed: satın aralığını azaltır
                        bordered: kenaralık ekler
                    -->
                    <thead>
                    	<tr>
                    		<th>Okul Bilgileri</th>
                    		<th>Okul Adı</th>
                    		<th>Mezuniyet Derecesi</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="İlköğretim" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Okul Adı ve Bölümü" class="form-control input-md" required=""></td>
                    		<td><select  class="filter-option pull-left btn btn-primary">
                    			
                    			<option>1</option>
                    			<option>2</option>
                    			<option>3</option>
                    			<option>4</option>
                    			<option>5</option>
                    		</select>

                    	</td>

                    </tr>
                    <tr>
                    	<td><input id="phone" name="phone" type="text" placeholder="Lise" class="form-control input-md" required=""></td>
                    	<td><input id="phone" name="phone" type="text" placeholder="Okul Adı ve Bölümü" class="form-control input-md" required=""></td>
                    	<td><select  class="filter-option pull-left btn btn-primary">

                    		<option>1</option>
                    		<option>2</option>
                    		<option>3</option>
                    		<option>4</option>
                    		<option>5</option>
                    		
                    	</select>

                    </td>

                </tr>
                <tr>
                	<td><input id="phone" name="phone" type="text" placeholder="Yükseköğrenim" class="form-control input-md" required=""></td>
                	<td><input id="phone" name="phone" type="text" placeholder="Okul Adı ve Bölümü" class="form-control input-md" required=""></td>
                	<td><select  class="filter-option pull-left btn btn-primary">

                		<option>1</option>
                		<option>2</option>
                		<option>3</option>
                		<option>4</option>
                		<option>5</option>

                	</select>

                </td>
            </tr>
            <tr>
            	<td><input id="phone" name="phone" type="text" placeholder="Lisans Üstü" class="form-control input-md" required=""></td>
            	<td><input id="phone" name="phone" type="text" placeholder="Okul Adı ve Bölümü" class="form-control input-md" required=""></td>
            	<td><select  class="filter-option pull-left btn btn-primary">

            		<option>1</option>
            		<option>2</option>
            		<option>3</option>
            		<option>4</option>
            		<option>5</option>

            	</select>

            </td>
        </tr>


    </tbody>

</table>





<h4>Bakmakla Yükümlü Olduğu Kimseler</h4>
<table class="table table-bordered table-hover table-condensed">
                        <!--
                        hover: hangi satıra gelirsen o satırı seçer
                        bordered:tablonun her satırını farklı renk yapar
                        condensed: satın aralığını azaltır
                        bordered: kenaralık ekler
                    -->
                    <thead>
                    	<tr>
                    		<th>Adı Soyadı</th>
                    		<th>Yaşı</th>
                    		<th>Mesleği</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Eş" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Eşinizin Yaşı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Eşinizin Mesleği" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Anne" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Annenizin Yaşı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Annenizin Mesleği" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Baba" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Babanızın yaşı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Babanızın Mesleği" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Diğer Kişi Adı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Diğer Kişi Yaşı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Diğer Kişi Mesleği" class="form-control input-md" required=""></td>

                    	</tr>


                    </tbody>

                </table>





                <h4>Katıldığınız Kurslar</h4>
                <table class="table table-bordered table-hover table-condensed">
                        <!--
                        hover: hangi satıra gelirsen o satırı seçer
                        bordered:tablonun her satırını farklı renk yapar
                        condensed: satın aralığını azaltır
                        bordered: kenaralık ekler
                    -->
                    <thead>
                    	<tr>
                    		<th>Konusu</th>
                    		<th>Süresi</th>
                    		<th>Kursun Alındığı Yer</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kurs" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kurs Süresi" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kursun Alındığı Yer" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kurs2" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kurs Süresi" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Kursun Alındığı Yer" class="form-control input-md" required=""></td>

                    	</tr>



                    </tbody>

                </table>


                <h4>İş Deneyimleriniz</h4>
                <table class="table table-bordered table-hover table-condensed">
                        <!--
                        hover: hangi satıra gelirsen o satırı seçer
                        bordered:tablonun her satırını farklı renk yapar
                        condensed: satın aralığını azaltır
                        bordered: kenaralık ekler
                    -->
                    <thead>
                    	<tr>
                    		<th>İşyeri ve Görev</th>
                    		<th>Süresi</th>
                    		<th>Ayrılış Sebebi</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş 1" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş Süresi" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Ayrılış Sebebi" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş 2" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş Süresi" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Ayrılış Sebebi" class="form-control input-md" required=""></td>
                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş 3" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="İş Süresi" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Ayrılış Sebebi" class="form-control input-md" required=""></td>
                    	</tr>



                    </tbody>

                </table>

                <h4>Referanslar</h4>
                <table class="table table-bordered table-hover table-condensed">
                        <!--
                        hover: hangi satıra gelirsen o satırı seçer
                        bordered:tablonun her satırını farklı renk yapar
                        condensed: satın aralığını azaltır
                        bordered: kenaralık ekler
                    -->
                    <thead>
                    	<tr>
                    		<th>Adı Soyadı</th>
                    		<th>Firması</th>
                    		<th>Telefon Numarası</th>
                    	</tr>
                    </thead>
                    <tbody>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Adı Soyadı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Çalıştığı Firma" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Telefon numarası" class="form-control input-md" required=""></td>

                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Adı Soyadı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Çalıştığı Firma" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Telefon numarası" class="form-control input-md" required=""></td>
                    	</tr>
                    	<tr>
                    		<td><input id="phone" name="phone" type="text" placeholder="Adı Soyadı" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Çalıştığı Firma" class="form-control input-md" required=""></td>
                    		<td><input id="phone" name="phone" type="text" placeholder="Telefon numarası" class="form-control input-md" required=""></td>
                    	</tr>



                    </tbody>

                </table>

                <h4>GÖREV İLE İLGİLİ BİLGİLER</h4>


               
                <div class="form-group">
                <label class="col-md-4 control-label" for="phone">İş Başvurusu Yapılan Görev:</label>  
                	<div class="col-md-4">
                		<input id="phone" name="phone" type="text" placeholder="İş Başvurusu Yapılan Görev" class="form-control input-md" required="">

                	</div>
                	


                </div>
                 <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Ne Zaman Çalışmaya Başlayabilirsiniz ?</label>  
                	<div class="col-md-4">
                		<input id="phone" name="phone" type="text" placeholder="Ne Zaman Çalışmaya Başlayabilirsiniz ?" class="form-control input-md" required="">

                	</div>
                	


                </div>
                 <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Bu Görev İçin Talep Edilen Ücret</label>  
                	<div class="col-md-4">
                		<input id="phone" name="phone" type="text" placeholder="Bu Görev İçin Talep Edilen Ücret" class="form-control input-md" required="">

                	</div>
                	


                </div>
                 <div class="form-group">
                <label class="col-md-4 control-label" for="phone">En Son Çalıştığınız Yerden Aldığınız Ücret?</label>  
                	<div class="col-md-4">
                		<input id="phone" name="phone" type="text" placeholder="En Son Çalıştığınız Yerden Aldığınız Ücret?" class="form-control input-md" required="">

                	</div>
                	


                </div>

                <div class="form-group">
                <label class="col-md-4 control-label" for="phone">Üyesi Olduğunuz Dernek veya Vakıflar
(varsa)</label>  
                	<div class="col-md-4">
                		<input id="phone" name="phone" type="text" placeholder="Üyesi Olduğunuz Dernek veya Vakıflar
" class="form-control input-md" required="">

                	</div>
                	

            </div>






        </fieldset>
    </form>










    <div class="checkbox">
    	<label>
    		<input type="checkbox" value="">
    		<span class="cr"><i class="cr-icon fa fa-check"></i></span>
    		Bu İş Başvuru ve Bilgi Formundaki verdiğim bilgilerin tam ve doğru olduğunu, zamanla değişecek bilgilerimi en geç on gün içerisinde yazılı olarak bildireceğimi, gerçek dışı beyanımla işe alınmam halinde bu durumun anlaşılmasıyla her hangi bir ihbar ve tazminata gerek olmadan işime son verileceğini ve bundan dolayı herhangi bir talep ve iddiada bulunmayacağımı ve bu nedenle işverenin uğrayacağı zarar ve ziyanı tazmin edeceğimi kabul ve beyan ederim.
    	</label>
    </div>



    <button class="btn btn-success">İş Başvurusunu Gönder</button>

</div>

