	<div class="col-lg-12 well">
			
 
 
	<div class="row">
				<form method="POST"  th:object="${authenticationProvider}" th:action="@{'/authentication/add/submit'}">
			
					<div id="home" class="col-sm-12 tab-pane fade in active">
						<div class="row">
							<div class="col-sm-6 form-group"  th:classappend="${#fields.hasErrors('providerName')} ? 'has-warning' : ''">
								<label>Provider Name</label>
								<input type="text" placeholder="Enter Provider Name ." class="form-control" th:field="*{providerName}" >
								 <span th:if="${#fields.hasErrors('providerName')}" class="help-block" th:errors="*{providerName}"></span>
							</div>
							<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('clientSecret')} ? 'has-warning' : ''">
								<label>Client Secret</label>
								<input type="text" placeholder="Enter Client Secret." class="form-control" th:field="*{clientSecret}">
								<span th:if="${#fields.hasErrors('clientSecret')}" class="help-block" th:errors="*{clientSecret}"></span>
							</div>
						</div>		
							<div class="row">
							<div class="col-sm-6 form-group"  th:classappend="${#fields.hasErrors('clientId')} ? 'has-warning' : ''">
								<label>Client ID</label>
								<input type="text" placeholder="Enter Client Id ." class="form-control" th:field="*{clientId}" >
								 <span th:if="${#fields.hasErrors('clientId')}" class="help-block" th:errors="*{clientId}"></span>
							</div>
							<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('url')} ? 'has-warning' : ''">
								<label>URL</label>
								<input type="text" placeholder="Enter Url." class="form-control" th:field="*{url}">
								<span th:if="${#fields.hasErrors('url')}" class="help-block" th:errors="*{url}"></span>
							</div>
						</div>	
						
							<div class="row">
							<div class="col-sm-6 form-group"  th:classappend="${#fields.hasErrors('typeProvider')} ? 'has-warning' : ''">
								<label>Type Provider</label>
							<select class="form-control" th:field="*{typeProvider}">
							<option th:value="oauth2" data-th-field="*{typeProvider}" th:selected="${typeProvider=='oauth2'}">Oauth2</option>
		   	  				</select>
			  					<span th:if="${#fields.hasErrors('typeProvider')}" class="help-block" th:errors="*{typeProvider}"></span>
							</div>
							<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('Active')} ? 'has-warning' : ''">
								<label>Active</label>
							<select class="form-control" th:field="*{active}">
									  <option th:value="true" data-th-field="*{active}" th:selected="${active==true}">Yes</option>
									  <option th:value="false" data-th-field="*{active}" th:selected="${active==false}">No</option>
							</select>
							<span th:if="${#fields.hasErrors('active')}" class="help-block" th:errors="*{active}"></span>
							</div>
						</div>	
					</div>
					
					
				</form> 
				</div>
				
</div>