<div id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
            <li><a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">
                    <li><a data-th-href="@{/category/index}">Category</a></li>
                    
                    <li><a data-th-href="@{/role/index}">Role</a></li>
                    <li><a data-th-href="@{/links/index}">Links</a></li>
                    <li><a data-th-href="@{/application/index}">Application</a></li>
                    
                    <li><a data-th-href="@{/authentication/index}">Authentication Provider</a></li>
                    
                </ul>
            </li>
                 <li><a><i class="fa fa-desktop"></i>Provider<span class="fa fa-chevron-down"></span></a>
                 <ul class="nav child_menu">
              <!--       <li><a data-th-href="@{/provider/providerlist}">Provider List</a></li>
              	 <li><a data-th-href="@{/userprovider/userlist}">User Provider List</a></li>
              	<li><a data-th-href="@{/singletemplate/index}">Single</a></li>
                 <li><a data-th-href="@{/customtemplate/index}">Custom</a></li>
                 <li><a data-th-href="@{/customsecondtemplate/index}">Custom Second Template</a></li>
                 
                  <li><a data-th-href="@{/clientuser/index}">Client User Provider</a></li>
           		 --> <li><a data-th-href="@{/client/index}">Client</a></li>
                 
                 </ul>
                 </li>
       
        </ul>
    </div>

</div>