	<div class="col-lg-12 well">
			
 
 
	<div class="row">
				<form method="POST"   th:object="${roleCategory}" th:action="@{'/category/modify/submit'}">
			
					<div id="home" class="col-sm-12 tab-pane fade in active">
						<div class="row">
							<div class="col-sm-6 form-group"  th:classappend="${#fields.hasErrors('categoryName')} ? 'has-warning' : ''">
								<label>Category Name</label>
								<input type="text" placeholder="Enter Category Name " class="form-control" th:field="*{categoryName}" >
								 <span th:if="${#fields.hasErrors('categoryName')}" class="help-block" th:errors="*{categoryName}"></span>
							</div>
							
						</div>
						<div class="row">
									
						<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('categoryDescription')} ? 'has-warning' : ''">
							<label>Description</label>
							<textarea placeholder="Enter Description.." th:field="*{categoryDescription}" rows="3" class="form-control"></textarea>
							 <span th:if="${#fields.hasErrors('categoryDescription')}" class="help-block" th:errors="*{categoryDescription}"></span>
							 
						</div>	
					</div>
					
					<input type="hidden" id="categoryId" th:field="*{roleCategoryId}" />
                
					
					</div>
				</form> 
				
	</div>
</div>


