   <table id="example"  class="table table-striped table-bordered"    th:attr="button=${button},table-url=${table_url}"   show style="width:100%" >
        <thead>
            <tr>
                 <th th:each="header,itrStat : ${headers}"  th:text="${header}">Client Id</th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
        <tfoot>
            <tr>
                <th th:each="header,itrStat : ${headers}"  th:text="${header}">Client Id</th>
              
            </tr>
        </tfoot>
    </table>