

					<div class="row well" th:if="${useFormSearch == true}" id="formsearch">
							   <div class="col-md-12 col-sm-12 col-xs-12">
							   					   <div class="row">
							   				
							   					     
															<div class="col-sm-4 form-group" th:each="search: ${formSearch01}" >
															
																<label th:text="${search.label}"></label>
																<div th:switch="${search.inputType}">
																	 <span th:case="1"><input  type="text" th:attr="name=${search.name},placeholder=${search.label}" class="form-control" >
														</span>
												 <span th:case="2">			
										
																		<select class="form-control">
		     
		     						<option th:each="sel : ${search.selectValues}" th:text="${sel.label}"/>
							
									</select>
														</span>
														
																			</div>
													
																
												</div>	
												</div>
					
	
						 <div class="row">
							   					
															<div class="col-sm-4 form-group"  th:each="searchtmp: ${formSearch02}" >
																<label th:text="${searchtmp.label}"></label>
																<input type="text" th:attr="name=${searchtmp.name},placeholder=${searchtmp.label}" class="form-control" >
															</div>
													</div>
											
								   
						
							 <div class="row">
							   					 
															<div class="col-sm-4 form-group"  th:each="search03: ${formSearch03}" >
																<label th:text="${search03.label}"></label>
																<input type="text" th:attr="name=${search03.name},placeholder=${search03.label}" class="form-control" >
															</div>
											
												</div>	
								   
						
							   </div>
							   <div class="col-md-12 col-sm-12 col-xs-12">
							
             				   <a href="#" class="btn btn-primary" role="button" id="formsearch">Search</a>
             				   <a href="#" class="btn btn-primary"  id="formclear">Clear</a>
             				   
							   </div>
						
					</div>



   <table id="example"  class="table table-striped table-bordered"    th:attr="button=${button},table-url=${table_url},complex-search=${useFormSearch}"   show style="width:100%" >
        <thead>
            <tr>
                 <th th:each="header,itrStat : ${headers}"  th:text="${header}"></th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
        <tfoot>
            <tr>
                <th th:each="header,itrStat : ${headers}"  th:text="${header}"></th>
              
            </tr>
        </tfoot>
    </table>