             <table class="table table-striped table-bordered">
<thead>
<tr>
<th>No</th>
<th>Link Name</th>
<th>Context</th>
<th>URL</th>
<th>Role</th>


<th>Path</th>
<th>All Permitable</th>
<th>Is Active</th>

<th>Full Url</th>
<th>Action</th>

</tr>
</thead>
<tbody>
   <tr th:each="link, rowStat: ${links}"
      >
        <td th:text="${rowStat.index+1}"></td>
   		 <td th:text="${link.serviceId}"></td>
   		 <td th:text="${link.serviceId}"></td>
  
  
        <td  th:text="${link.url}"> </td>
        <td  th:text="${link.roles}"> </td>
        <td  th:text="${link.context}"> </td>
        <td  th:text="${link.permitAll}"> </td>
        <td  th:text="${link.active}"> </td>
        <td  th:text="${link.path}"> </td>
        <td>
        
         <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" onclick="deleteItem(this);" th:attr="data-entity-id=${link.linkId}" data-toggle="modal"  data-target="#confirmDeleteModal" >Delete</a></li>
    <li><a href="#"  
    th:onclick="'updateLinks(\'' + ${link.linkId} + '\');'"
    >Edit</a></li>
  </ul>
</div> 
 
    	 </td>
        
    	
    </tr>
</tbody>
</table>



<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE5CD;</i>
				</div>				
				<h4 class="modal-title">Are you sure?</h4>	
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<p>Do you really want to delete these records? This process cannot be undone.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger remove_item" onclick="confirmDelete(this)">Delete</button>
			</div>
		</div>
	</div>


</div>
